on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'
      
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      
      - name: double-checking curl won't fail
        run: |
          sudo apt-get install libcurl4-openssl-dev
      
      - name: Install R Dependencies
        uses: r-lib/actions/setup-r@v2
      
      - name: manual installation of reticulate
        run: |
          Rscript -e "remotes::install_github('rstudio/reticulate')"
          
      - name: Setup r-reticulate virtualenv
        shell: Rscript {0}
        run: |

          path_to_python <- reticulate::virtualenv_create(
            envname = "r-reticulate",
            python = Sys.which("python"), # placed on PATH by the setup-python action
            packages = c(
              "numpy", "pandas", "matplotlib"
            )
          )

          writeLines(sprintf("RETICULATE_PYTHON=%s", path_to_python),
                     Sys.getenv("GITHUB_ENV"))

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}